<div class="sidebar">
  <div class="logo">
    <span class="logo-icon">✔</span>
    <span class="logo-text">Task Manager</span>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
  </nav>
<button class="logout-btn" (click)="logout()">Logout</button>

</div>