<div class="sidebar">
  <div class="logo">
    <img src="munazm-logo.png" alt="Munazm" class="logo-img" />
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
  </nav>
  <button class="logout-btn" (click)="logout()">Logout</button>

</div>